.shopping-items {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.mobile {
    top: -8px;
    right: -8px;
  }
}
