.avatar {
  border-radius: 50%;
  border: 3px solid transparent;
  transition: var(--durations);
  &:hover {
    border: 3px solid var(--main-color);
  }
  > img {
    width: 35px;
    cursor: pointer;
  }
}
