@use '../../../scss/helpers/mixins.scss' as *;

nav {
  &.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    border-bottom: 0.1rem solid var(--dark-grayish-blue);
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 1;
    @include mediaQuery(medium) {
      display: none;
    }
    @include mediaQuery(large) {
      display: none;
    }
  }
  > ul {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

img.menu-icon {
  cursor: pointer;
}
