@use '../../../../../scss/helpers/mixins.scss' as *;

.mobile {
  display: block;
  @include mediaQuery(medium) {
    display: none;
  }
  @include mediaQuery(large) {
    display: none;
  }
  > .images {
    position: relative;
    > img {
      width: 100%;
    }
    > .arrow-btn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: var(--white);
      transition: var(--durations);
      &:hover {
        background-color: var(--secondary-color);
      }
      &.next,
      &.previous {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &.next {
        // right: -18px;
        // @include mediaQuery(mobile) {
        //   right: -4px;
        // }
        right: 16px;
      }
      &.previous {
        // left: -18px;
        // @include mediaQuery(mobile) {
        //   left: -4px;
        // }
        left: 16px;
      }
      &:disabled {
        background-color: var(--light-grayish-blue);
        cursor: no-drop;
        opacity: 0.5;
      }
    }
  }
}
